
.quizz-creation-page h1 {
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    margin-top: 37px;
}
.quizz-creation-page p {
    font-weight: 700;
    color: #000000;
    font-size: 20px;
}
.quizz-creation-page form {
    width: 375px;
    margin-top: 29px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 0 24px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizz-creation-page input {
    width: 341px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 14px;
    font-style: italic;
    font-size: 19px;
    outline: none;
}
.quizz-creation-page input::placeholder {
    color: #BABABA;
    font-style: italic;
    font-size: 19px;
}
.quizz-creation-page button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

.create-quizz-informations {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-quizz-informations form {
    height: 256px;
    gap: 9px;
}

.create-quizz-informations button {
    margin-top: 29px;
}

.create-quizz-questions{
    display: flex;
    align-items: center;
    justify-content: initial;
    flex-direction: column;
    z-index: 1;
}

.create-quizz-questions div {
    display: flex;
    flex-direction: column;
}

