.my-quizzes {
    
}

.no-quiz-created {
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    margin-top: 31px;
}

.no-quiz-created p {
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    margin-top: 7px;
}

.no-quiz-created button {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background: #FAFAFA;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

.all-quizzes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quizzes{
    /* background-color: #EC362D; */
    margin-top: 35px;
}

.quizzes p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}

.all-quizzes img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

@media (min-width: 700px) {
    .no-quiz-created {
        flex-wrap: wrap; 
        margin: 77px 10px;
        /* width: calc(100vw - 10px); */
        max-width: 1051px;
    } 
    
    .quizzes{  
        padding: 10px;
    }

    .all-quizzes {
        /* width: calc(100vw - 10px); */
        max-width: 1051px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .all-quizzes img{
        background-color: red;
        width: 340px;
        height: 181px;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

}
