.quizz-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question {
    background-color: #fff;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    padding-top: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.title-quizz {
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/meianoiteeuteconto.jpg); */
    background-size: cover;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 24px;
}

.title-questions {
    background-color: #434CA0;
    width: 340px;
    min-height: 89px;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 16px;
    margin-bottom: 13px;
}

.all-alternatives {
    width: 340px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alternative img {
    width: 163px;
    height: 113px;
}
.alternative img:hover {
    cursor: pointer;
}

.alternative p {
    max-width: 163px;
    min-height: 22px;
    display: flex;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 5px 0px 12px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result .question {
    height: auto;
    /* margin-bottom: 34px; */
}

.result img {
    width: 340px;
    height: 255px;
    display: flex;
    justify-content: center;
}

.result b {
    width: 340px;
    display: flex;
    justify-content: start;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #484848;
    margin-top: 9px;
    margin-bottom: 14px;
}

.result button {
    width: 220px;
    height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.result button:hover {
    cursor: pointer;
}

.result button:nth-child(2) {
    background: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    border: none;
}

.result button:nth-child(3) {
    background: transparent;
    color: #818181;
    border: none;
    margin-top: 8px;
    margin-bottom: 64px;
}

@media (min-width: 1100px) {
    .quizz-page{
        width: 100%;
    }
    .title-quizz{
        margin-bottom: 42px;
    }
    .all-questions {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question {
        width: 759px;
        margin-bottom: 48px;
    }

    .title-questions {
        width: 688px;
        font-size: 23px;
        line-height: 27px;
        padding: 32px;
        margin-bottom: 20px;
    }

    .all-alternatives {
        width: 688px;
    }

    .alternative img {
        width: 330px;
        height: 175px;
    }

    .alternative p {
        max-width: 330px;
        font-size: 20px;
        line-height: 23px;
        margin: 8px 0px 18px;
    }

    .result .title-questions {
        width: 727px;
        margin-bottom: 0;
    }

    .result span {
        width: 727px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 18px;
    }

    .result img {
        width: 364px;
        margin: 0 0 23px;
    }

    .result b {
        font-size: 19px;
        line-height: 25px;
        margin: 0;
    }

    .result button {
        width: 260px;
        height: 52px;
        font-weight: normal;
        font-size: 21px;
        line-height: 25px;
    }

    .result button:nth-child(3) {
        margin-top: 16px;
        margin-bottom: 85px;
    }
}