* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA
}

/* .page {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 375px;
    height: 100%;
    display: flex;
} */

.hidden{
    display: none;
    /* Quando a div ja tem display atribuir display none não da em nada */
    /* por isso o visibiliy */
    visibility: hidden;
}

header {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100vw;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* trocando span pelo "p" */
header p{ 
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

main {
    /* background-color: red; */
    width: 100vw;
    /* Tamanho pag - header */
    height: calc(100vh - 69px);
    margin-top: 80px;
}

nav{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    
}