* {
    box-sizing: border-box;
    word-break: break-word;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
}

.hidden {
    display: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

main {
    width: 100%;
    height: calc(100vh - 69px);
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Compatibility with Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent rgb(255, 255, 255, 0);
}

/* Compatibility with Chrome, Edge, Safari and OperaGx */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 0, 0);
    display: none;

}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #EC362D;
}